.main {
    padding-left: 150px;
    padding-right: 150px;
}
.vertical { 
    margin-top: 30px;
    margin-left: 100px;
    border-left: 1px solid black; 
    float: left;
    height: 880px; 
}
.left {
    width: 500px; 
    float: left;
}
.leeft{
    width : 200px;
    float: left;
}
.right { 
    padding-left: 50px;
    float: left;
}
.center {
    text-align: center;
}

h1 {
    border: 1px solid rgb(235, 183, 13);
    background-color: rgb(235, 183, 13);
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 0px;
}

.neg {
    margin-top: -45px;
}

.head {
    
    background-color: gray;
    padding-top: 50px;
    padding-bottom: 10px;
}

.none {
    list-style-type:none;
} 

.font {
    font-size: large;
}

.container {
    width: 50%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    float: left;
    /* margin-left: 180px; */

 }
 .cpp {
    text-align: right;
    font-weight: bolder;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    border-radius: 20px;
    background-color: rgb(235, 183, 13);
 }
 img {
    display: block;
    margin-left: 500px;
    margin-right: auto;
    width: 15%;
    border: 5px solid  rgb(235, 183, 13);
    padding: 3px;
    border-style: dotted;
 }
 .lft {
 background-color: white;
 border: 20px solid white;
 }

 .dotted {
    border: 4px solid  rgb(235, 183, 13);
    padding: 3px;
    border-style: dotted;
    border-radius: 50%;
 }

 